.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  background-color: black;
}

.contenedor-foto {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  background-color: chartreuse;
  width: 296px;
  height: 326px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);


}
@keyframes rotateAndSlideEntry {
  0% {
    transform: translateX(-100%) rotateY(0deg);
  }

  25% {
    transform: translateX(0) rotateY(-90deg);
  }

  50% {
    transform: translateX(0) rotateY(180deg);
  }

  75% {
    transform: translateX(0) rotateY(90deg);
  }

  100% {
    transform: translateX(0) rotateY(0deg);
  }
}
/*  Estado inicial: Sin rotaci贸n y opaca */
.contenedor-foto {
 
  opacity: 0; /* No es visible */
  transition: transform 5s ease-out;
}

/*  Se activar谩 solo cuando se haga visible */
.contenedor-foto.visible {
  transform: rotateY(270deg); /* Se pone recta */
  opacity: 1; /* Se hace visible */
  transform: translateX(-100%) rotateY(0deg);
  /* Inicialmente, el objeto est谩 fuera del contenedor a la izquierda sin rotaci贸n horizontal */
  animation: rotateAndSlideEntry 1.5s ease-in-out forwards;
  /* Usamos una animaci贸n llamada 'rotateAndSlideEntry' */
}


.contenedor-foto1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
  background-color: black;
  margin-left: 3px;
  width: 290px;
  height: 320px;
  background-color: #6C7A89;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);


}


.foto1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Para que la imagen se ajuste dentro del hex谩gono */
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}




.contenedor-titulo-black {
  background-color: black;
}

.contedor-titulo-foto {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 40%;
  height: auto;
  background-color: black;
  margin-left: 80px;
  margin-top: -20px;
}

.titulo-quien {
  display: flex;
  padding: 8px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  font-size: 30px;
  color: white;


}

.texto-quien {

  display: flex;
  padding: 5px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;

  color: white;
}

.contenedor-barras {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
  height: 300px;
  background-color: black;
  margin-left: 100px;
}

/* Estilos de las barras */
.barra-completa {
  margin: auto;
  width: 70%;
  display: flex;
  flex-direction: row;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.918);
  border: solid 1px chartreuse;
}

.porcentaje {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 23px;
  background-color: rgba(255, 255, 255, 0.918);
  color: black;
  font-weight: 600;
}

.lenguaje {
  font-family: 'Raleway';
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 23px;
  color: white;
  font-weight: 600;
  background-color: #021027;
  border: solid 1px chartreuse;
}

.barra,
.barra1,
.barra2,
.barra3,
.barra4,
.barra5 {
  position: relative;
  width: 75%;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.918);
  margin: auto;
}

/* Antes de la animaci贸n */
.barra::before,
.barra1::before,
.barra2::before,
.barra3::before,
.barra4::before,
.barra5::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: deepskyblue;
  transition: width 1.5s ease-in-out;
}

.barra.animar::before {
  width: 90%;
}

.barra1.animar::before {
  width: 80%;
}

.barra2.animar::before {
  width: 70%;
}

.barra3.animar::before {
  width: 70%;
}

.barra4.animar::before {
  width: 60%;
}

.barra5.animar::before {
  width: 70%;
}

.contenedor-barras {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.contenedor-barras.visible {
  opacity: 1;
  transform: translateX(0);
}

@media (max-width: 768px) {

  .main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    background-color: black;
  }

  .contenedor-foto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    background-color: black;
    width: 149px;
    height: 163px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transform: translateX(-100%) rotateY(0deg);
    /* Inicialmente, el objeto est谩 fuera del contenedor a la izquierda sin rotaci贸n horizontal */
    animation: rotateAndSlideEntry 1s ease-in-out forwards;
    /* Usamos una animaci贸n llamada 'rotateAndSlideEntry' */

  }

  .contenedor-foto1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
    background-color: black;
    margin-left: 2px;
    width: 145px;
    height: 160px;
    background-color: #6C7A89;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);


  }


  .foto1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Para que la imagen se ajuste dentro del hex谩gono */
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }

  .contenedor-titulo-black {
    background-color: black;
    width: auto;
  }

  .contedor-titulo-foto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 70%;
    height: auto;
    background-color: black;
    margin-left: 80px;
    margin-top: -20px;
  }

  .titulo-quien {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 70%;
    height: auto;
    font-size: 20px;
    color: white;
    margin: auto;
    margin-top: 50px;


  }

  .texto-quien {

    display: flex;
    padding: 5px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;

    color: white;
  }

  .contenedor-barras {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: black;
    margin: auto;
    margin-left: 0px;
    font-size: 5px;
  }

  /* Estilos de las barras */
  .barra-completa {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    height: 15px;
    background-color: rgba(255, 255, 255, 0.918);
    border: solid 1px chartreuse;
    margin-bottom: 10px;

  }

  .porcentaje {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 13px;
    background-color: rgba(255, 255, 255, 0.918);
    color: black;
    font-weight: 600;
  }

  .lenguaje {
    font-family: 'Raleway';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 13px;
    color: white;
    font-weight: 600;

    background-color: #021027;
    border: solid 1px chartreuse;
  }

  .barra,
  .barra1,
  .barra2,
  .barra3,
  .barra4,
  .barra5 {
    position: relative;
    width: 60%;
    height: 15px;
    background-color: rgba(255, 255, 255, 0.918);
    margin: auto;

  }

  /* Antes de la animaci贸n */
  .barra::before,
  .barra1::before,
  .barra2::before,
  .barra3::before,
  .barra4::before,
  .barra5::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: deepskyblue;
    transition: width 1.5s ease-in-out;
  }

  .barra.animar::before {
    width: 80%;
  }

  .barra1.animar::before {
    width: 80%;
  }

  .barra2.animar::before {
    width: 70%;
  }

  .barra3.animar::before {
    width: 70%;
  }

  .barra4.animar::before {
    width: 60%;
  }

  .barra5.animar::before {
    width: 70%;
  }

  .contenedor-barras {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  }

  .contenedor-barras.visible {
    opacity: 1;
    transform: translateX(0);

  }



}

@media (max-width: 400px) {


  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: black;
  }

  .lenguaje {
    font-family: 'Raleway';

    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: auto;
    color: white;
    font-weight: 600;
    background-color: #021027;
    border: solid 1px chartreuse;
  }

  .javascript {
    font-size: 7px;
  }

  .barra.animar::before {
    width: 90%;
  }

  .barra1.animar::before {
    width: 80%;
  }

  .barra2.animar::before {
    width: 70%;
  }

  .barra3.animar::before {
    width: 70%;
  }

  .barra4.animar::before {
    width: 60%;
  }

  .barra5.animar::before {
    width: 70%;
  }


  .contenedor-foto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: chartreuse;
    width: 145px;
    height: auto;
    margin-right: 35px;
    margin-bottom: 30px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transform: translateX(-100%) rotateY(0deg);
    /* Inicialmente, el objeto est谩 fuera del contenedor a la izquierda sin rotaci贸n horizontal */
    animation: rotateAndSlideEntry 1.5s ease-in-out forwards;
    /* Usamos una animaci贸n llamada 'rotateAndSlideEntry' */

  }

  .contenedor-foto1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    background-color: black;

    width: 140px;
    height: 144px;
    background-color: #6C7A89;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);


  }


  .foto1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Para que la imagen se ajuste dentro del hex谩gono */
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }

  .contenedor-titulo-black {
    background-color: black;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


  }

  .contedor-titulo-foto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    background-color: black;
    justify-content: center;
    align-items: center;


  }

  .titulo-quien {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    width: 80%;
    height: auto;
    font-size: 20px;
    color: white;
    margin: auto;
    margin-top: 30px;


  }

  .texto-quien {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
    color: white;
  }

}